body{
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
        margin: 0px;
      }
.highlight-color{
  color: orange;
}
p{
  text-align: justify;
}
h1{font-size: 50px;}
.hadder{
  display: flex;
  background-image: url(image/background-image1.png);
  background-repeat: no-repeat;
}
.haf-width{
  width: 50%;
  padding-left: 5%;
}
.haf-width img{
  width: 80%;
}
.link-style{
  text-decoration: none;
  background-image: linear-gradient(orange, tomato);
  padding: 10px 40px;
  border-radius: 5px;
  color:white;
  font-weight: 700;
}
.middle{
  display: flex;
  background-image: url(image/background-image2.png);
  background-repeat: no-repeat;
  background-position: right;
}
.one-tag{
  margin-left: 5%;
}
.footer{
  background-image: url(image/background-image3.png);
  background-repeat: no-repeat;
  background-position: left center;
}
.footer-contenar{
  display: flex;
  padding: 5%;
}
.about-hobbies{
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 20px;
  padding-right: 20px;

  box-shadow: 10px 10px 40px grey;
}
.About{
  border-left: 7px solid;
  border-image: linear-gradient(orange, cyan);
  border-image-slice: 1;

}
.hobbies{
  border-left: 7px solid;
  border-image: linear-gradient(blue, cyan);
  border-image-slice: 1;
}
footer p{
  text-align: center;
}